agent/__pycache__/
agent/*.pyc
agent/*.swp
agent/*.db
agent/.DS_Store
backend/node_modules
backend/cached_uglify
backend/public/fonts
backend/public/images
backend/public/stylesheets
backend/public/javascript
backend/public/dist
backend/views/admin
backend/views/login.html
backend/views/registration.html
backend/CA
backend/*.swp
backend/.DS_Store
frontend/dist/index.html
frontend/dist/static
frontend/node_modules
frontend/.DS_Store
__pycache__/
*.pyc
*.swp
*.db
.DS_Store
